:root{
    --primarycolor: #4CAF4F;
    --Secondrycolor: #F5F7FA;
;
}
@font-face {
    font-family: Inter;
    src: url("./font/Inter_18pt-Regular.ttf");
}
.green{
    background-color: var(--primarycolor);
}
.style{
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 11.14px;
line-height: 16.71px;
letter-spacing: 0%;
text-align: center;
}
.hero{
    background-color:var(--Secondrycolor) ;
}
.classgreen{
    color: var(--primarycolor);
}
.font-size{
      font-family: Inter;
font-weight: 500;
}